/* Styles for Login component */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 200%;
  margin: 10svh 0 0 0;
  font-weight: 700;
}

h2{
  color: rgb(105, 219, 137);
  font-size: 120%;
  font-style: italic;
  margin-bottom: 0;
}

main{
  padding: 0 !important;
}

.user-form {
  display: flex;
  justify-content: flex-start;
  box-shadow: none !important;
  background-color: #F2F2F2;
  padding: 0 !important;
  padding-bottom: 15svh !important;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.user-form label {
  display: flex;
  flex-direction: column;
  width: 30% !important;
  font-size: 18px;
  font-family: monospace;
  font-weight: lighter;
  color: rgb(6, 74, 74);
  margin-top: 40px;
}

input {
  border-bottom:solid 2px rgb(79, 214, 117);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #FDFDFD;
  border-radius: 0;
}

input::placeholder {
  font-style: italic;
  font-weight: 200 !important;
  font-size: 14px;
  color: rgb(187, 184, 184);
  font-family: "Times New Roman", Times, serif;
}
.login-btn {
  width: 240px;
  background-color: rgb(79, 214, 117);
  color: white;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 2px;
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 50px 0;
}

.register-icon {
  color: rgb(79, 214, 117) !important;
  font-size: 25px;
  margin-top: 20px;
}

.register-icon:hover {
  transform: scale(1.1) !important;
}

.error {
  color: rgb(235, 63, 6) !important;
  font-size: 15px !important;
  font-family: monospace;
}

.error-message {
  color: rgb(235, 63, 6);
  font-size: 15px;
  font-family: monospace;
  margin: 20px;
}
